{%load static%}
{% load i18n %}
<!DOCTYPE HTML>
<html>

<head>
  <title>MediaDeusto</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="{%static 'style/style.css' %}" />
  <script type="text/javascript" src="{% static 'style/buscador.js' %}"></script>
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <img src="{% static 'style/LOGO.png' %}" alt="Logo" width="300" height="75" />
          <h2>{% trans "Tecnología accesible, servicio imbatible" %}</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <li class="selected"><a href="{% url 'index' %}">{ % trans "Inicio" %}</a></li>
          <li><a href="{% url 'listaMarcas' %}">{ % trans "Marcas" %}</a></li>
          <li><a href="{% url 'listaDispositivos' %}">{ % trans "Dispositivos" %}</a></li>
          <li><a href="{% url 'listaModelos' %}">{% trans "Modelos" %}</a></li>
          <li><a href="{% url 'contactUs' %}">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content">
      <div id = "FotoBlackFriday">
        <img src="{% static 'style/Blackfriday.png' %}" alt="Example Image">
      </div>
      <div id="ofertas">
        <h1> {% trans "OFERTAS" %}</h1>
      </div>
      <script src="{% static 'style/index.js' %}"></script> 
      <div id="scroll-container">
        <div id="modelos-container" class="horizontal-scroll">
            {% for modelo in modelos %}
              <div class="modelo-item">
                <img src="{% static modelo.imagen %}" alt="Modelo" class="modelo-img">
                <p class="modelo-precio">{{ modelo.precio }}</p>
              </div>
            {% endfor %}
        </div>
      </div>
    <div id="index">{%block contenido%} {%endblock%}</div> 

    </div>
    <div id="content_footer"></div>
    <div id="footer">
      <p><a href="{% url 'index' %}">{ % trans "Inicio" %}</a> | <a href="{% url 'listaMarcas' %}">{ % trans "Marcas" % }</a> | <a href="{% url 'listaDispositivos' %}">{ % trans "Dispositivos" %}</a> | <a href="{% url 'listaModelos' %}">{ % trans "Modelos" %}</a> | <a href="{% url 'contactUs' %}">Contact Us</a></p>
      <p>Copyright &copy; MediaDeusto | Instagram | FaceBook | X | WhatsApp</p>
    </div>
  </div>
</body>
</html>
