{% extends 'base.html' %}
{% block contenido %}
{%load static%}
{% load i18n %}
<html>
    <head>
        <title>{ % trans "Detalle de Dispositivo" % }</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style/dispositivos.css' %}" />
    </head>
    <body>
        
        <h1> {{ dispositivo.nombre}}</h1>
        <div id="informacion">
            <img src="{{ dispositivo.imagenUrlDis }}" alt="Imagen de {{ dispositivo.nombre }}" width="300" height="auto">
            <br>
            <p>{{ dispositivo.descripcion }}</p>
            <br>
            <a href="{% url 'listaModelosPorDispositivo' pk=dispositivo.id %}">{ % trans "Ver dispositivos de {{ dispositivo.nombre }}" %}</a>

        </div>
        {%endblock%}
    </body>
</html>
