{% extends 'base.html' %}
{% block contenido %}
{% load static %}
<html>
    <head>
        <title>Detalle de Marca</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style/modelos.css' %}" />
    </head>
    <body>
        <h1>{{ modelo.nombre }}</h1>
        <div id="informacion">
            <div id="titulo2">
                <h2>{{ modelo.dispositivo }}</h2>
            </div>
            <img src="{{ modelo.imagenUrlMo }}" alt="Imagen de {{ modelo.nombre }}" width="300" height="auto">
            <p>Precio: {{ modelo.precio }} €</p>
            <h2>Características</h2>
            <p>Procesador: {{ modelo.procesador }}</p>
            <p>RAM: {{ modelo.ram }}</p>
            <p>Gráfica: {{ modelo.grafica }}</p>
            <p>Capacidad Batería: {{ modelo.capacidadBateriaMAH }} mAh</p>
            <p>Cámara: {{ modelo.camara }}</p>
            <p>Audio: {{ modelo.audio }}</p>
            <p>Protección IP: {{ modelo.proteccionIP }}</p>
        </div>
    </body>
{% endblock %}
</html>