{% extends 'base.html' %}
{% block contenido %}
{%load static%}
<html>
    <head>
        <title>Detalle de Marca</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style/modelos.css' %}" />
    </head>
    <body>
        <h1> {{ modelo.nombre}}</h1>
        <div id="informacion">
            <div id="titulo2">
                <h2> {{ modelo.dispositivo}}</h2>
            </div>
            <img src="{{ modelo.imagenUrlMo }}" alt="Imagen de {{ modelo.nombre }}" width="300" height="auto">
            <p> Precio: {{ modelo.precio }} €</p>
            <h2>Caracteristicas</h2>
            <p> Procesador: {{ modelo.procesador}}</p>
            <p> Ram: {{ modelo.ram}}</p>
            <p> Grafica: {{ modelo.grafica}}</p>
            <p> Capacidad Bateria: {{ modelo.capacidadBateriaMAH}}</p>
            <p> Camara: {{ modelo.camara}}</p>
            <p> Audio: {{ modelo.audio}}</p>
            <p> Proteccion IP: {{ modelo.proteccionIP}}</p>
        </div>
        {%endblock%}
    </body>
</html>