{%extends 'base.html'%}
{%load static %}
{%block contenido%}

<div id="productos">
    <h1>LOS MEJORES PRODUCTOS</h1>
</div>
<div id="seccionMarcas">

    <div class="Izquierda">
        <img class = "imagenIndexMarcas" src="{% static 'style/imagenIndexMarcas.avif' %}" alt="Foto de las diferentes marcas que se pueden encontrar en nuestros estancos"/>
    </div>

    <div class="Derecha">
        <h2>Variedad de marcas</h2>
        <p>Nuestra variedad de marcas electronicas a tu disposicion</p>
        <button class="boton" onclick="window.location.href='{% url 'listaMarcas' %}'">MARCAS</button>    
    </div>
</div>
<br>


<div id="seccionDispositivos">
    <div class="Izquierda">
        <h2>Variedad de dispositivos</h2>
        <p>Nuestra variedad de dispositivos a tu disposicion</p>
        <button class="boton" onclick="window.location.href='{% url 'listaDispositivos' %}'">DISPOSITIVOS</button>    
    </div>
    
    <div class="Derecha">
        <img class = "imagenIndexDispositivos" src="{% static 'style/imagenIndexDispositivos.avif' %}" alt="Foto de las diferentes marcas que se pueden encontrar en nuestros estancos"/>
    </div>
</div>
<br>


<div id="seccionModelos">

    <div class="Izquierda">
        <img class = "imagenIndexModelos" src="{% static 'style/imagenIndexModelos.avif' %}" alt="Foto de las diferentes marcas que se pueden encontrar en nuestros estancos"/>
    </div>

    <div class="Derecha">
        <h2>Variedad de modelos</h2>
        <p>Nuestra variedad de modelos a tu disposicion</p>
        <button class="boton" onclick="window.location.href='{% url 'listaModelos' %}'">MODELOS</button>    
    </div>
</div>
{%endblock%}
