{% extends 'base.html' %}
{% block contenido %}
{% load static %}
{% load i18n %}
<html>
    <head>
        <title>{% trans "Lista de Modelos" %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style/modelos.css' %}" />
    </head>
    <body>
        
        <div id="divBuscador">
            <input type="text" class="buscador" placeholder="{% trans 'Buscar modelo...' %}">
        </div>
        
        <h1>{% trans "Lista de Modelos" %}</h1>

        {% for modelo in modelo_list %} 
        
            <div class="modeloInfo">
                <div id="informacion">
                <ul>
                    <a href="{% url 'detalleModelo' modelo.id %}">
                        <li>
                            <span id="spanNombre"><h2>{{ modelo.nombre }}</h2></span>
                            <h3>{{ modelo.dispositivo }}</h3>
                            <span id="spanImagen"><img src="{{ modelo.imagenUrlMo }}" alt="{% trans 'Foto del modelo' %}" width="300" height="auto"></span>             
                            <p>{% trans "Precio:" %} {{ modelo.precio }} €</p>
                        </li>
                    </a>
                </ul>
            </div>
        </div>
        {% endfor %}
    </body>
{% endblock %}
</html>