{%extends 'base.html'%}
{%block contenido%}
{% load static %}

<html>
    <head>
        <title>Lista de Modelos por Dispositivo</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style/modelos.css' %}" /> 
    </head>
    <body>
        <div id="divBuscador">
            <input type="text" class="buscador" placeholder="Buscar modelo...">
        </div>

        <h1>Lista de Modelos</h1>

        {% for modelo in modelo_list %} 
        
            <div class="modeloInfo">
                <div id=informacion>
                <ul>
                    <a href="{% url 'detalleModelo' modelo.id %}">
                        <li>
                       
                            <span id="spanNombre"><h2>{{ modelo.nombre }}</h2></span>
                            <h3> {{ modelo.dispositivo }}</h3>
                            <span id="spanImagen"><img src=" {{modelo.imagenUrlMo}}" alt="Foto del modelo"  width="300" height="auto"></span>             
                            <p> Precio: {{ modelo.precio }} €</p>

                        </li>
                    </a>
                </ul>
            </div>
        </div>
        {% endfor %}
        {% endblock %}
    </body>
</html>
