{%extends 'base.html'%}
{%block contenido%}
{% for modelo in modelo_list%}

<h1> {{ modelo.nombre }}</h1>
<p> {{ modelo.dispositivo }}</p>
<p> {{ modelo.procesador }}</p>
<p> {{ modelo.ram }}</p>
<p> {{ modelo.grafica }}</p>
<p> {{ modelo.capacidadBateriaMAH }}</p>
<p> {{ modelo.camara }}</p>
<p> {{ modelo.audio }}</p>
<p> {{ modelo.proteccionIP }}</p>
<img src="{{ modelo.imagenUrlMo }}" alt="Imagen de {{ modelo.nombre }}" width="300" height="auto">
<br>

<a href="{% url 'detalleModelo' modelo.id%}">Ver detalle de {{ modelo.nombre}}</a>

{% empty %}

    <p>No hay modelos disponibles.</p>

{% endfor %}
{%endblock%}