html{ 
  height: 100%;
}

*{
  margin: 0;
  padding: 0;
  font-family: Tahoma;
}

main{
  margin-top: 20px;
  float: left;
  background-color: white;
}

body{ 
  font: normal .80em 'trebuchet ms', arial, sans-serif;
  background: #F5F5EE;
  color: red;
}

img{ 
  border: 0;
}


#header{
  background-color: rgb(223, 0, 0);
  height: 177px;
  color: white;
}

#site_content{ 
  width: 880px;
  overflow: hidden;
  margin: 20px auto 0 auto;
  padding: 0 0 10px 0;
} 

#logo{ 
  width: 880px;
  position: relative;
  height: 70px;
  background: transparent;
  margin-left: 50px;
}

#logo #logo_text { 
  position: absolute; 
  top: 10px;
  left: 0;
}

#logo h1{
  font: normal 300% 'century gothic', arial, sans-serif;  
  text-transform: none;
  margin: 0 0 0 10px;
  padding-top: 10px;
}

#logo h2{
  font: normal 100% 'century gothic', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0 0 0 9px;
}

#logo_text h1 a{
  color: white;
}

#header a{
  text-decoration: none;
  color: white;
}

#menubar{
  margin-left: 25px;
  margin-top:50px;
  width: 1400px;
  height: 46px;
}

ul#menu li{
  float: left;
  padding: 0 0 0 10px;
  list-style: none;
  margin: 1px 2px 0 0;
}

ul#menu li a{
  font: normal 120% 'trebuchet ms', sans-serif;
  display: block; 
  float: left; 
  height: 20px;
  padding: 6px 35px 5px 28px;
  text-align: center;
  color: white;
  text-decoration: none;
  transition: transform 0.3s ease;
}

ul#menu li a:hover{ 
  transform: scale(1.2)
}

#FotoBlackFriday {
  text-align: center; 
  width: 100%; 
  max-width: 900px; 
  margin: 0 auto;
  margin-bottom: 10px; 
}

#FotoBlackFriday img {
  width: 100%; 
  max-width: 100%; 
  height: auto; 
  border-radius: 10px; 
}

#ofertas{
  margin-top: 150px;
  margin-bottom: 25px;
}

#ofertas h1{
  color: white;
  background-color: rgb(223, 0, 0);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}

#footer{ 
  width: 100%;
  font-family: 'trebuchet ms', sans-serif;
  font-size: 100%;
  height: 80px;
  padding: 28px 0 5px 0;
  text-align: center; 
  background: black;
  color: #A8AA94;
}

#footer p{ 
  line-height: 1.7em;
  padding: 0 0 10px 0;
}

#footer a{ 
  color: #A8AA94;
  text-decoration: none;
}

#footer a:hover{
  color: #FFF;
  text-decoration: none;
}

#scroll-container {
  overflow-x: auto;
  overflow-y: hidden; 
  white-space: nowrap; 
  padding: 10px;
  scroll-snap-type: x mandatory;
  scrollbar-width: thin;
  scrollbar-color: rgb(223, 0, 0) #f1f1f1;
}

#scroll-container::-webkit-scrollbar {
  height: 10px;
}

#scroll-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

#scroll-container::-webkit-scrollbar-thumb {
  background-color: rgb(223, 0, 0);
  border-radius: 10px;
}

#scroll-container::-webkit-scrollbar-button {
  display: none;
}

#modelos-container {
  display: flex;
  gap: 10px;
  padding: 10px;
  scroll-snap-type: x mandatory;
}

.modelo-item {
  scroll-snap-align: start;
  flex: 0 0 auto;
  text-align: center;
  width: 180px;
  background-color: white;
  border-radius: 10px;
}

.modelo-img {
  width: 100%;
  height: auto;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.modelo-img:hover {
  transform: scale(1.1);
}

.modelo-precio {
  font-size: 14px;
  color: #0a0606;
  margin-top: 10px;
}

#index h1{
  background-color: rgb(223, 0, 0);
  color: white;
  height: 50px;
  text-align: center;
  border-radius: 10px;
}
#index a{
  text-decoration: none;
}

#productos{
  margin-top: 150px;
  margin-bottom: 25px;
}

#productos h1{
  color: white;
  background-color: rgb(223, 0, 0);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.boton{
  margin-top: 5%;
  padding: 20px;
  width: 40%;
  border-radius: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  cursor: pointer;
  background-color: white;
  color: rgb(223, 0, 0);
  font-weight: bold;
  border: 5px solid rgb(223, 0, 0);
  transition: 0.5s;
}

.boton:hover{
  border-radius: 0px;
  color: white;
  background-color: rgb(223, 0, 0);
}

.boton a{
  text-decoration: none;
}

.Izquierda{
  width: 45%;
  float: left;
}


.Derecha{
  width: 45%;
  float: right;
  height: 10%;
}

#seccionMarcas{
  margin-top: 3%;
  margin-left: 5%;
  width: 90%;
  height: 30%;
  text-align: center;
  display: inline-block;
  place-items: center;
  align-content: center;
  border-radius: 10px;
  border: solid, 2px, black;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#seccionMarcas h2{
  margin-top: 15%;
}

.imagenIndexMarcas{
  width: 400px;
  height: 252.4px;
  padding: 0 auto;
  border-radius: 10px 0 0 10px;
}

#seccionDispositivos{
  margin-top: 3%;
  margin-left: 5%;
  width: 90%;
  height: 30%;
  text-align: center;
  display: inline-block;
  place-items: center;
  align-content: center;
  border-radius: 10px;
  border: solid, 2px, black;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#seccionDispositivos h2{
  margin-top: 15%;
}

.imagenIndexDispositivos{
  width: 350px;
  height: 252.4px;
  padding: 0 auto;
  border-radius: 0 10px 10px 0;
}

#seccionModelos{
  margin-top: 3%;
  margin-left: 5%;
  width: 90%;
  height: 30%;
  text-align: center;
  display: inline-block;
  place-items: center;
  align-content: center;
  border-radius: 10px;
  border: solid, 2px, black;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#seccionModelos h2{
  margin-top: 15%;
}

.imagenIndexModelos{
  width: 400px;
  height: 252.4px;
  padding: 0 auto;
  border-radius: 10px 0 0 10px;
}


/* Estilo de los botones 
.scroll-btn {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.scroll-btn.left {
  left: 10px;
}

.scroll-btn.right {
  right: 10px;
}*/